@charset "utf-8";.msg-area-form-title {
    font-size: 24px;
    color: #000;
    text-align: center;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 30px
}

.msg-area-search-box {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 0;
    border: none;
    border-radius: 0;
    max-width: 980px;
    margin: 0 auto 32px
}

.msg-area-search-input-wrap {
    position: relative
}

.msg-area-search-input {
    font-size: 16px;
    height: 46px;
    line-height: 46px;
    border: 1px solid #E5E5E5;
    color: #000;
    box-sizing: border-box;
    width: 100%;
    -webkit-box-sizing: border-box;
    background-color: #F5F7FA;
    padding-left: 44px;
    padding-right: 30px;
    border-radius: 0
}

.msg-area-btn-rm-txt {
    position: absolute;
    background-image: url(sprite/msg-201911201546.svg);
    ;background-size: 806.25% 431.25%;
    ;top: 14px;
    right: 12px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    text-indent: -99px;
    z-index: 2;
    background-repeat: no-repeat;
    background-position: 55.75% 69.81%
}

.msg-area-btn-rm-txt:hover {
    background-image: url(sprite/msg-201911201546.svg);
    ;background-position: 71.67999999999999% 69.81%;
    background-size: 806.25% 431.25%;
    ;background-repeat: no-repeat
}

.msg-area-search-btn {
    position: absolute;
    top: 13px;
    left: 14px;
    width: 20px;
    height: 20px;
    background-image: url(sprite/msg-201911201546.svg);
    ;background-size: 645% 345%;
    ;border: 0;
    text-indent: -999px;
    cursor: pointer;
    outline: 0;
    background-color: transparent;
    background-position: 21.099999999999998% 75.51%;
    background-repeat: no-repeat
}

.msg-area-search-tips {
    font-size: 16px;
    color: #666;
    letter-spacing: 0;
    line-height: 32px;
    max-width: 1180px;
    margin: 12px auto 0
}

.icon-search-loading {
    position: absolute;
    top: 13px;
    left: 14px;
    width: 20px;
    height: 20px;
    background-image: url(img/icon-search-loading.png);
    background-size: cover;
    -moz-animation: spin .6s infinite linear;
    -webkit-animation: spin .6s infinite linear;
    animation: spin .6s infinite linear
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0)
    }

    100% {
        -moz-transform: rotate(359deg)
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(359deg)
    }
}

@keyframes spin {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(359deg)
    }
}

.com-none-panel {
    text-align: center
}

.com-none-panel+.com-none-panel {
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid #d8d8d8
}

.com-none-panel-icon {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    width: 169px;
    height: 94px;
    background-image: url(img/none-panel/tag-img.svg);
    background-repeat: no-repeat;
    background-size: 100% auto
}

.com-none-panel-icon.error {
    width: 248px;
    height: 180px;
    background-image: url(img/none-panel/icon-error.svg)
}

.com-none-panel-icon.search {
    width: 220px;
    height: 220px;
    background-image: url(img/none-panel/icon-search.svg)
}

.com-none-panel-icon.column {
    width: 220px;
    height: 220px;
    background-image: url(img/none-panel/icon-column.svg)
}

.com-none-panel-icon.network {
    width: 220px;
    height: 220px;
    background-image: url(img/none-panel/icon-network.svg)
}

.com-none-panel-title {
    margin-bottom: 8px;
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
    color: #000
}

.com-none-panel-desc {
    font-size: 14px;
    line-height: 22px;
    color: #666
}

.com-none-panel-btns {
    margin-top: 30px
}

.com-none-panel-btns .c-btn {
    margin: 0 5px;
    min-width: 160px;
    height: 36px;
    line-height: 36px;
    vertical-align: middle
}

.com-none-panel-btns .c-btn-hole {
    line-height: 34px
}

.com-none-panel-btns .com-arrow-btn {
    margin: 0 5px;
    min-width: 160px;
    height: 36px;
    line-height: 34px;
    font-size: 14px
}

.com-none-panel-btns .com-arrow-btn.primary .com-arrow-btn-caret:before {
    border-width: 17px 7px
}

.com-none-panel-link {
    margin: 0 5px;
    color: #00a4ff
}

.com-none-panel-link:after {
    content: '';
    display: inline-block;
    vertical-align: -2px;
    margin-left: 5px;
    width: 7px;
    height: 13px;
    overflow: hidden;
    background-image: url(sprite/msg-201911201546.svg);
    ;-webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s,-webkit-transform .4s;
    background-position: 90.16% 66.07%;
    background-size: 1842.8571428571427% 530.7692307692307%;
    ;background-repeat: no-repeat
}

.com-none-panel-pre {
    border-top: 1px dashed #e5e5e5;
    margin-top: 30px;
    padding-top: 15px;
    text-align: left;
    color: #666;
    word-break: break-all;
    white-space: pre-wrap;
    overflow: auto
}

.com-none-panel.page {
    margin: 0 auto;
    padding: 120px 0;
    max-width: 730px
}

.com-none-panel.page+.com-none-panel.page {
    border-top: 1px solid #D8D8D8
}

.com-none-panel.page .com-none-panel-icon {
    margin-bottom: 20px
}

.com-none-panel-icon.error-404 {
    width: 560px;
    height: 250px;
    background-image: url(img/none-panel/icon-404.svg)
}

.com-none-panel-icon.error-503 {
    width: 560px;
    height: 250px;
    background-image: url(img/none-panel/icon-503.svg)
}

.com-none-panel-icon.error-504 {
    width: 560px;
    height: 250px;
    background-image: url(img/none-panel/icon-504.svg)
}

.com-none-panel-icon.error-403 {
    width: 560px;
    height: 250px;
    background-image: url(img/none-panel/icon-403.svg)
}

.com-none-panel.page .com-none-panel-title {
    margin-bottom: 20px
}

.com-none-panel.page .com-none-panel-btns {
    margin-top: 40px
}

body {
    background-color: #f7f8fa
}

.msg-area {
    /*padding: 0 10px;*/
    margin-top: 10px
}

.msg-area-inner {
    border: 1px solid #e5e5e5;
    background-color: #fff;
    padding: 25px 30px;
    max-width: 1180px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative
}

.msg-aside-tips {
    position: absolute;
    top: 0;
    right: -40px;
    padding: 5px 4px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    cursor: pointer;
    height: 126px
}

.msg-aside-icon-qr {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(sprite/msg-201911201546.svg);
    ;background-position: 0.9199999999999999% 75.51%;
    background-size: 645% 345%;
    ;background-repeat: no-repeat
}

.msg-aside-tips span {
    display: block;
    width: 1em;
    text-align: center;
    padding-left: 4px;
    margin-top: 4px;
    color: #666;
    line-height: 1.3;
    font-size: 12px
}

.msg-aside-tips-img {
    display: block;
    width: 108px;
    height: 108px
}

.msg-aside-tips .c-bubble {
    display: none;
    top: -2px;
    left: -140px
}

.msg-aside-tips .c-bubble-inner {
    border: 1px solid #e5e5e5;
    top: 40px
}

.msg-aside-tips .c-bubble-right .c-bubble-inner:before {
    border-left-color: #e5e5e5
}

.msg-aside-tips .c-bubble-right .c-bubble-inner:after {
    border-left-color: #fff
}

.msg-aside-tips:hover .c-bubble {
    display: block
}

.msg-area-form {
    font-size: 0
}

.msg-area-form-item {
    margin-bottom: 10px
}

.msg-area-form-item:last-child {
    margin-bottom: 0
}

.msg-area-form-label {
    font-size: 14px;
    color: #666;
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
    padding-right: 10px;
    width: 80px
}

.msg-area-form-con {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 102px)
}

.pc-mod {
    display: block
}

.m-mod {
    display: none
}

.c-item-ctrl {
    position: relative;
    padding-right: 50px
}

.c-item-ctrl-btn {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
    color: #00a4ff
}

.c-item-ctrl-icon {
    width: 10px;
    height: 9px;
    display: inline-block;
    vertical-align: middle;
    background-image: url(sprite/msg-201911201546.svg);
    ;background-position: 0.84% 98.33%;
    background-size: 1290% 766.6666666666667%;
    ;background-repeat: no-repeat
}

.c-item-ctrl-btn.hide .c-item-ctrl-icon {
    transform: rotate(180deg)
}

.c-radio-block {
    font-size: 0
}

.c-radio-block-item {
    box-sizing: border-box;
    min-width: 80px;
    height: 30px;
    line-height: 28px;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #333;
    text-align: center;
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer
}

.c-radio-block-item:hover {
    background-color: #f7f8fa;
    border: 1px solid #b3b3b3
}

.c-radio-block-item.actived {
    background-color: #eff9ff;
    border: 1px solid #00a4ff
}

.c-checkbox-block {
    font-size: 0;
    margin-bottom: -10px
}

.c-checkbox-block-item {
    box-sizing: border-box;
    min-width: 80px;
    height: 30px;
    line-height: 28px;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #333;
    text-align: center;
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer
}

.c-checkbox-block-item:hover {
    background-color: #f7f8fa;
    border: 1px solid #b3b3b3
}

.c-checkbox-block-item.actived {
    background-color: #eff9ff;
    border: 1px solid #00a4ff
}

.c-checkbox-block-item.actived:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 16px;
    height: 16px;
    background-image: url(sprite/msg-201911201546.svg);
    ;background-position: 39.82% 69.81%;
    background-size: 806.25% 431.25%;
    ;background-repeat: no-repeat
}

.msg-list-item {
    border-bottom: #e5e5e5 1px solid;
    position: relative;
    padding: 15px 5px
}

.msg-list-con {
    font-size: 14px;
    line-height: 21px;
    max-width: calc(100% - 200px)
}

.msg-list-item.center {
    border: 0
}

.center .msg-list-con {
    text-align: center
}

.msg-list-con a {
    color: #333;
    vertical-align: middle
}

.msg-list-con a:hover {
    color: #00a4ff
}

.icon-msg-em {
    background-color: #e1504a;
    border: 1px solid #e1504a;
    color: #fff;
    font-size: 12px;
    padding: 2px 4px;
    display: inline-block;
    vertical-align: middle;
    line-height: 12px;
    margin-left: 3px
}

.icon-msg-em.weak {
    background-color: #fff;
    border: 1px solid #fd7822;
    color: #fd7822
}

.msg-list-aside {
    position: absolute;
    right: 0;
    top: 0;
    width: 170px;
    text-align: left;
    font-size: 14px;
    line-height: 21px;
    padding: 15px 5px;
    color: #999
}

.msg-list-hd .msg-list-aside,.msg-list-hd .msg-list-con {
    font-size: 16px;
    color: #999
}

.msg-b-nav {
    padding: 0 10px;
    color: #999;
    margin-bottom: 20px
}

.msg-b-nav-inner {
    max-width: 1180px;
    margin: 0 auto;
    padding: 15px 0;
    border-bottom: #e5e5e5 1px solid
}

.msg-b-nav a {
    color: #333
}

.msg-b-nav a:hover {
    color: #00a4ff
}

.msg-d-wrap {
    padding: 0 50px
}

.msg-d-hd {
    font-size: 18px;
    line-height: 28px;
    padding: 50px 0 30px;
    border-bottom: #e5e5e5 2px solid;
    text-align: center
}

.msg-d-bd {
    padding: 30px 0;
    line-height: 24px
}

.msg-d-bd.weak {
    color: #999
}

.msg-d-bd p {
    margin-bottom: 10px
}

.msg-d-ft {
    text-align: right;
    padding-top: 40px
}

.msg-logo {
    display: inline-block;
    width: 127px;
    height: 34px;
    background-image: url(sprite/msg-201911201546.svg);
    ;margin-bottom: 10px;
    background-position: 50% 2.86%;
    background-size: 101.5748031496063% 202.94117647058823%;
    ;background-repeat: no-repeat
}

.m-select-top {
    line-height: 50px;
    position: relative;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
    padding: 0 20px
}

.m-select-top-tit {
    font-size: 16px
}

.m-select-top-btn {
    position: absolute;
    top: 0;
    right: 20px;
    color: #00a4ff;
    cursor: pointer
}

.m-select-top-btn span {
    vertical-align: middle
}

.msg-icon-select {
    width: 10px;
    height: 9px;
    display: inline-block;
    vertical-align: middle;
    background-image: url(sprite/msg-201911201546.svg);
    ;background-position: 10.92% 98.33%;
    background-size: 1290% 766.6666666666667%;
    ;background-repeat: no-repeat
}

.m-select-con-list {
    padding: 10px 20px 0
}

.m-select-con-item {
    height: 30px;
    line-height: 30px;
    position: relative;
    background-color: #e5e5e5;
    padding: 0 30px 0 10px;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    margin-top: 10px
}

.m-select-con-item-close {
    color: #999;
    position: absolute;
    right: 10px;
    top: 0
}

.msg-select-mask {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    background-color: #000;
    opacity: .4
}

.msg-select-inner {
    position: fixed;
    top: 0;
    right: 0;
    left: 40px;
    bottom: 0;
    z-index: 1000;
    background-color: #fff
}

.msg-select-inner-con {
    height: calc(100% - 90px);
    overflow: auto
}

.msg-select-inner-con .msg-area-form-label {
    display: block;
    width: auto;
    padding: 10px 0 10px 15px
}

.msg-select-inner-con .msg-area-form-con {
    display: block;
    width: auto
}

.msg-select-inner-con .c-checkbox-block {
    padding-left: 15px
}

.msg-select-inner-con .c-radio-block {
    margin-bottom: -10px;
    padding-left: 15px
}

.msg-select-inner-con .c-checkbox-block-item,.msg-select-inner-con .c-radio-block-item {
    min-width: calc((100% - 35px)/ 3);
    margin-bottom: 10px;
    font-size: 12px;
    vertical-align: top;
    padding: 0 5px
}

.msg-select-inner-con .msg-area-form-item {
    border-bottom: #e5e5e5 1px solid;
    padding-bottom: 20px;
    margin-bottom: 10px
}

.msg-select-inner-con .msg-area-form-item:last-child {
    border: 0
}

.msg-select-inner-tit {
    line-height: 50px;
    text-align: center;
    position: relative;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1)
}

.msg-select-inner-close {
    display: inline-block;
    position: absolute;
    font-size: 0;
    left: 20px;
    top: 18px;
    width: 20px;
    height: 20px
}

.msg-select-inner-close i {
    content: '';
    position: absolute;
    width: 9px;
    height: 14px;
    top: 0;
    left: 0;
    background-image: url(sprite/msg-201911201546.svg);
    ;background-position: 82.5% 67.27%;
    background-size: 1433.3333333333335% 492.8571428571429%;
    ;background-repeat: no-repeat
}

.msg-select-inner-ft {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 0
}

.msg-select-inner-ft .c-btn {
    width: 65%;
    border: 0;
    box-sizing: border-box;
    min-width: 0;
    border-top: #00a4ff 1px solid;
    vertical-align: top
}

.msg-select-inner-ft .c-btn.c-btn-weak {
    width: 35%;
    border: 0;
    border-top: #e5e5e5 1px solid
}

.msg-last-child {
    /*margin-bottom: 40px*/
}

@media screen and (max-width: 768px) {
    .msg-area-search-tips {
        margin-left:10px;
        margin-right: 10px
    }
}

@media (min-width: 769px) {
    .com-none-panel-link:hover:after {
        -webkit-transform:translateX(8px);
        transform: translateX(8px)
    }
}

@media (min-width: 601px) {
    .com-none-panel.horizontal {
        margin:0 auto;
        max-width: 770px
    }

    .com-none-panel.horizontal .com-none-panel-object {
        display: table-cell;
        vertical-align: middle;
        padding-right: 60px;
        width: 220px
    }

    .com-none-panel.horizontal .com-none-panel-main {
        display: table-cell;
        vertical-align: middle;
        text-align: left
    }

    .com-none-panel.horizontal .com-none-panel-btns {
        margin-top: 20px;
        margin-left: -5px
    }
}

@media (max-width: 768px) {
    .com-none-panel {
        padding:50px 15px
    }

    .com-none-panel-icon.error {
        margin-bottom: 20px;
        width: 156px;
        height: 99px
    }

    .com-none-panel-icon.column,.com-none-panel-icon.network,.com-none-panel-icon.search {
        width: 180px;
        height: 180px
    }

    .com-none-panel-title {
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 26px
    }

    .com-none-panel-btns {
        margin: 30px -5px 0
    }

    .com-none-panel-btns .c-btn {
        height: 40px;
        line-height: 38px
    }

    .com-none-panel-btns .c-btn-hole {
        line-height: 38px
    }

    .com-none-panel-link:active:after {
        -webkit-transform: translateX(8px);
        transform: translateX(8px)
    }

    .com-none-panel-btns .c-btn-hole,.com-none-panel-btns .c-btn-hole:hover {
        color: #00a4ff;
        border-color: #00a4ff;
        background-color: transparent
    }

    .com-none-panel.page {
        padding: 50px 15px;
        background-color: #fff
    }

    .com-none-panel.page+.com-none-panel.page {
        margin-top: 10px;
        border-top: none
    }

    .com-none-panel-icon.error-404,.com-none-panel-icon.error-503,.com-none-panel-icon.error-504 {
        width: 300px;
        height: 130px
    }
}

@media (max-width: 600px) {
    .com-none-panel-btns {
        display:-webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center
    }

    .com-none-panel-btns .c-btn {
        -webkit-box-flex: 1;
        flex: 1;
        min-width: 0
    }

    .com-none-panel-link {
        -webkit-box-flex: 1;
        flex: 1
    }
}

@media screen and (max-width: 768px) {
    body {
        background-color:#fff
    }

    .msg-area-inner {
        border: 0;
        padding: 0 5px
    }

    .pc-mod {
        display: none
    }

    .m-mod {
        display: block
    }

    .msg-aside-tips {
        display: none
    }
}

@media screen and (max-width: 768px) {
    .msg-list-hd {
        display:none
    }

    .msg-list-aside {
        position: static;
        padding: 10px 0 0
    }

    .msg-list-con {
        max-width: 100%
    }
}

@media screen and (max-width: 768px) {
    .msg-b-nav {
        padding:0
    }

    .msg-b-nav-inner {
        padding: 0;
        line-height: 54px;
        background-color: #000;
        color: #fff;
        text-align: center;
        position: relative
    }

    .msg-b-nav a {
        display: inline-block;
        position: absolute;
        font-size: 0;
        left: 20px;
        top: 18px;
        width: 20px;
        height: 20px
    }

    .msg-b-nav a:after {
        content: '';
        position: absolute;
        width: 9px;
        height: 14px;
        top: 0;
        left: 0;
        background-image: url(sprite/msg-media8-201911201546.svg);
        ;background-position: 50% 50%;
        background-size: 122.22222222222223% 114.28571428571428%;
        ;background-repeat: no-repeat
    }
}

@media screen and (max-width: 768px) {
    .msg-d-wrap {
        padding:0
    }

    .msg-d-bd {
        padding: 20px 0;
        line-height: 24px
    }

    .msg-d-hd {
        padding: 20px 0;
        border-bottom: #e5e5e5 1px solid
    }
}

#MAXIM {
    content: "niu20191120154702"
}
